*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0%;
}
#wrapper{
    background-color: aquamarine;
}
.nav_bar{
    display: flex;
    padding: 1% 2% 1% 2%;
}
.nav_bar img{
    padding-right:2% ;
    margin-right: 30%;
    background-color: red;
}
.nav_item{
    display: inline-flex;
    background-color: whitesmoke;
}
.nav_item li:first-child{
    margin-left: auto;
}
.nav_item li{
    margin-right: 20%;
    background-color: blue;
    /*text-align: center;*/
}
button{
    margin-left: auto;
    margin-right: 0%;
}